/*
    CONTENT:
        - IMPORTS
        - GLOBAL
        - IMAGES
        - BORDER
        - HEADER
        - FOOTER
        - MAIN
        - MAIN CONTENT
        - SIDEBAR
        - FEATURES
*/

/* IMPORTS
================================================================================================================== */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cookie&family=Poppins:wght@300;400;500;700&display=swap');

/* GLOBAL
================================================================================================================== */
* {
    font-family: 'Poppins', sans-serif;
    color: #2d3436;
}
body {
    margin: 0;
}
h1, h2, h3, h4, h5, h6 {
    color: #00cec9;
}

/* IMAGES
================================================================================================================== */
.img-responsive {
    height: auto;
    max-width: 100%;
}

/* BORDER
================================================================================================================== */
.border-rounded {
    border-radius: 10px;
}

/* HEADER
================================================================================================================== */
header {
    padding: 20px 20px 30px;
}
header .logo {
    font-family: 'Bebas Neue', cursive;
    font-size: 36px;
    color: #00cec9;
    margin: 0px;
}
header .sub-title {
    font-family: 'Cookie', cursive;
    font-size: 24px;
    color: #636e72;
    margin: 0;
}
header nav {
    display: flex;
    background-color: #dfe6e9;
    margin: 20px 0 0;
    border-radius: 10px;
}
header nav a {
    display: inline-block;
    padding: 20px 25px;
    text-decoration: none;
    border-radius: 10px;
}
header nav a:hover {
    background-color: #00cec9;
}
header nav a.active {
    background-color: #00cec9;
}
@media (max-width: 500px) {
    header {
        padding-left: 10px;
        padding-right: 10px;
    }
    header .logo,
    header .sub-title,
    header nav {
        text-align: center;
    }
    header nav a {
        flex-grow: 1;
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 14px;
    }
}

/* FOOTER
================================================================================================================== */
footer {
    background-color: #dfe6e9;
    padding: 50px 0;
    margin-top: 50px;
    text-align: center;
}

/* MAIN
================================================================================================================== */
main {
    display: flex;
    flex-direction: row;
    padding: 0 20px;
}
@media (max-width: 500px) {
    main {
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media (max-width: 768px) {
    main {
        flex-direction: column;
    }
    main .main-content {
        padding-right: 0;
    }
}

/* MAIN CONTENT
================================================================================================================== */
.main-content {
    flex-basis: 75%;
    padding-right: 20px;
}
@media (max-width: 768px) {
    .main-content {
        padding-right: 0;
    }
}

/* SIDEBAR
================================================================================================================== */
.sidebar {
    flex-basis: 25%;
}
.sidebar section {
    margin-bottom: 25px;
}
.sidebar section:last-child {
    margin-bottom: 0;
}
.sidebar section h4,
.sidebar section p {
    margin: 0;
}
.sidebar section h4 {
    font-size: 18px;
    margin-bottom: 5px;
}
.sidebar section form {
    display: flex;
    width: 100%;
    margin-top: 10px;
}
.sidebar section form input {
    flex-grow: 3;
    background-color: #dfe6e9;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 15px;
}
.sidebar section form button {
    flex-grow: 1;
    max-width: 100px;
    background-color: #e84393;
    color: #fff;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.sidebar section form button:hover {
    background-color: #fd79a8;
}
.sidebar section .social-links {
    display: flex;
    width: 100%;
}
.sidebar section .social-links a {
    text-decoration: none;
    flex-grow: 1;
    border-radius: 10px;
    margin-right: 5px;
    font-size: 12px;
    text-align: center;
    padding: 10px;
    background-color: #dfe6e9;
}
.sidebar section .social-links a:last-child {
    margin-right: 0;
}
.sidebar section .social-links a i {
    padding-right: 5px;
}
.sidebar section .social-links .facebook i,
.sidebar section .social-links .facebook span {
    color: #1877f2;
}
.sidebar section .social-links .instagram i,
.sidebar section .social-links .instagram span {
    color: #e1306c;
}
.sidebar section .social-links .twitter i,
.sidebar section .social-links .twitter span {
    color: #1da1f2;
}
.sidebar section .social-links .facebook:hover {
    background-color: #1877f2;
}
.sidebar section .social-links .facebook:hover i,
.sidebar section .social-links .facebook:hover span {
    color: #fff;
}
.sidebar section .social-links .instagram:hover {
    background-color: #e1306c;
}
.sidebar section .social-links .instagram:hover i,
.sidebar section .social-links .instagram:hover span {
    color: #fff;
}
.sidebar section .social-links .twitter:hover {
    background-color: #1da1f2;
}
.sidebar section .social-links .twitter:hover i,
.sidebar section .social-links .twitter:hover span {
    color: #fff;
}
.sidebar section .social-links a i,
.sidebar section .social-links a span {
    color: #fff;
}

@media (max-width: 768px) {
    .sidebar {
        border-top-color: #dfe6e9;
        border-top-width: 1px;
        border-top-style: solid;
        padding-top: 25px;
        margin-top: 25px;
    }
}

/* FEATURES
================================================================================================================== */
.features {
    display: flex;
    width: 100%;
    margin-top: 30px;
}
.features .feature {
    flex-basis: 33.3333333333%;
    border: 1px solid #dfe6e9;
    border-radius: 10px;
    padding: 20px;
    margin: 0 10px;
    box-shadow: 2px 2px 5px 0px #dfe6e9;
}
.features .feature:first-child {
    margin-left: 0;
}
.features .feature:last-child {
    margin-right: 0;
}
.features .feature h2 {
    margin: 0;
    margin-bottom: 10px;
}
.features .feature p {
    margin: 0;
}
@media (max-width: 900px) {
    .features {
        flex-direction: column;
    }
    .features .feature {
        margin: 0;
        margin-bottom: 10px;
    }
    .features .feature:last-child {
        margin-bottom: 0;
    }
}